* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
body {
    background: #1a1d28;
    font-family: 'Roboto', sans-serif;
}
a { 
    text-decoration: none;
} 